[flake8]
exclude =
    test_store.py
    echo_test.py
    xmlString.py
    test_remove.py
    test_search_v1.py
    test_search_v2.py
    test_extract.py
    
    .git

ignore = 
    E3
    E2
    E5
    W2
    E11
    E711
    E128

